/*The cherry on the cake*/

*, h1, h2, h3, h4, h5, h6
{
  font-family: Corben serif;
}

.panel.callout
{
  background: none repeat scroll 0% 0% rgb(236, 250, 255);
}

dl.tabs dd
{
  min-width: 20em;
}

.panel
{
	padding-bottom: 0.01em;
	font-family: Corben serif;
}
/* Désactive la bordure dans le slider, car foundation et liquid-slider utilisent 
   le même nom de classe : panel */
.slider-id-panel
{
  border: none;
  font-family: Corben serif;
}

#slider-id-nav-ul li
{
	font-size: 1.7em;
}

#mymodal p
{
  font-family: corben;
  font-size: 1.2em;
}

#mymodal p .note
{
  font-size: 0.7em;
}

#mymodal.panel
{
  padding : 1em
}