/*The cherry on the cake*/

body
{
  background-color: white;
}

#mybody */*, h1, h2, h3, h4, h5, h6, p*/
{
  font-family: Corbel, serif;
  color: white;
}

#site_title h3
{
  color: black;
  font-size: 4em;
}

.ls-wrapper .ls-nav .current
{
  background-color: rgb(51, 51, 51);
}

.ls-wrapper .ls-nav li
{
  background-color: rgb(51, 51, 51);
}

#mybody .ls-wrapper .ls-nav a:hover
{
  color: black;
}

/* Panels */
.panel, #slider-id.liquid-slider
{
  background-color: rgb(51, 51, 51);
}

#mybody .panel.callout h4
{
  font-weight: bold;
}

#mybody .panel.callout p
{
  font-family: Corbel, serif;
  font-size: 1.05em;
  font-weight: bold;
}

.panel.callout
{
  background: none repeat scroll 0% 0% #6A6A68;
  border: none;
}

dl.tabs dd
{
  min-width: 20em;
}

.panel
{
	padding-bottom: 0.01em;
	font-family: Corben, serif;
}
/* Désactive la bordure dans le slider, car foundation et liquid-slider utilisent 
   le même nom de classe : panel */
.slider-id-panel
{
  border: none;
  font-family: Corbel, serif;
}

#slider-id-nav-ul li
{
	font-size: 1.7em;
}

/* Projects */
#mymodal *
{
  color: rgb(51, 51, 51);
}

#mymodal p
{
  font-family: Corbel, serif;
  font-size: 1.2em;
}

#mymodal p .note
{
  font-size: 0.7em;
}

#mymodal.panel
{
  padding : 1em
}

#projects ul li
{
  text-align: center;
}

/* Work epxerience */
.work_experience
{
  /*background: none repeat scroll 0% 0% #15A38D;*/
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
}

.work_experience p, .work_experiencee h3
{
  text-align: justify;
  font-family: Corbel, serif;
}

.work_experience h3
{
  text-align: center;
  border-bottom: solid rgb(200,200,200) 1px;
  padding-bottom: 0.5em;
  padding-top: 0.2em;
}

.work_experience h3 img
{
  position: relative;
  left: 10%;
}

.work_experience p.note
{
  font-size: 0.9em;
  font-style: italic;
  padding: 0em;
  margin: 0em;
}